

head
	link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/foundation.css")
	link(rel="stylesheet", href="../css/main.css")
	script(src="//cdn.jsdelivr.net/lodash/3.0.0/lodash.min.js")


body
	h1 Four Day Forecast

	input.zip(type="text", placeholder="Enter zip", value="37931")
	button.submit Submit

	div.container


	script(src="main.js")