

head
	link(rel="stylesheet", href="./vendor/foundation/css/foundation.css")
	link(rel="stylesheet", href="../css/main.css")
	script(src="./vendor/lodash/lodash.min.js")


body
	.row
		h1
	
		.large-4.columns
			input.small-2.zip(type="text", placeholder="Enter zip", value="90210")
		button.round.small.submit Submit

	div.container


	script(src="main.js")